* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e5e5e5;
  font-family: 'Poppins', sans-serif;
}

.span-leaf {
  /* width: 100%; */
  display: flex;
  justify-content: center;
  font-size: 2rem;
  /* color: linear-gradient (to right, #6070ff, rgba(235, 124, 124, 0.75)); */
  color: rgb(24, 43, 212);
  
}

.fa-leaf {
  text-align: center;
  animation: leaf 15s 1s infinite normal none;
  animation-play-state: running;
  position: absolute;
  z-index: 500;
  transition: all 0.5s ease-in-out;
}

.fa-thin {
  top: 50px;
  left: 100px;
}

.fa-leaf::after {
  content: "";
  position: relative;
  top: 15px;
  left: 37px;
  bottom: 0;
  right: 0;
  opacity: 0.5;
  z-index: 500;
}


.fa-leaf:hover {
  animation-play-state: paused;
}

@keyframes leaf {
  0% {
    transform:rotate3d(1, 1, 1, 45deg);
    top: 3px;
  }

  100% {
    top: 100vh;
    transform:rotate3d(2, 2, 2, 300deg);
  }
}

.wrapper1 {
  width: 100%;
  background-color: #fff;
  height: auto;
  display: flex;
  flex-direction: column;
  border-bottom-left-radius: 50px;
}

.wrapper1 header {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  color: #6070ff;
  position: fixed;
  width: 100%;
}

.links {
  display: none;
}

.other-content {
  height: auto;
  background-image: url(./images/header-shapes-mobile.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 90px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-bottom-left-radius: 50px;
}

.other-content h1 {
  font-size: 40px;
  color: #172b4d;
}

.intro1 {
  line-height: 43px;
  margin-bottom: 10px;
}

.other-content h3 {
  color: #7f8cff;
  font-size: 16px;
  font-weight: 500;
  margin: 12px 0;
}

.other-content p {
  margin: 10px 0;
}

.other-content ul li {
  list-style-type: none;
  display: inline;
  margin-right: 12px;
}

.fa-brands {
  color: #505f79;
  font-size: 22px;
}

.intro2 {
  display: none;
}

.wrapper2 {
  display: grid;
  grid-template-columns: repeat(1, 100%);
  grid-template-rows: repeat(4, auto);
  grid-row-gap: 2rem;
  margin-top: 60px;
}

.card {
  background-color: #fff;
  width: 90%;
  margin: 20px auto;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 20px 40px 20px;
  height: auto;
}

.lower {
  flex-basis: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.lower h3 {
  font-size: 40px;
  color: #172b4d;
}

.span1 {
  font-size: 13px;
  color: #344563;
}

.span2 {
  color: #7a869a;
  font-size: 7px;
}

.canopy {
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 75%;
}

.card-text {
  font-size: 15px;
  color: #344563;
}

.btns-33 ul {
  display: flex;
  margin: 15px 0;
}

.btns-33 ul li {
  list-style-type: none;
  margin-right: 10px;
}

.btn3 {
  padding: 3px 10px;
  color: #6070ff;
  font-size: 12px;
  border: none;
  border-radius: 10px;
}

.see {
  border-radius: 10px;
  background-color: #fff;
  border: 1px solid #396df2;
  color: #396df2;
  width: 42%;
  margin: 10px 0;
  padding: 15px;
  font-size: 17px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  transform: translateY(0);
}

.see:hover {
  background-color: #6070ff;
  color: #fff;
  transform: translateY(-3px);
}

.see:visited {
  background-color: #2230d2;
  color: #fff;
}

.about {
  width: 100%;
  height: auto;
  border-top-right-radius: 50px;
  padding: 70px 0;
  background-color: #fff;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
}

.about1 {
  height: auto;
  padding: 90px 0 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.wide-btn {
  width: 48%;
}

.about1 h1 {
  font-size: 40px;
  color: #172b4d;
}

.about1 p {
  font-size: 15px;
  color: #344563;
  word-spacing: 3px;
}

.about1 h3 {
  color: #7f8cff;
  font-size: 16px;
  font-weight: 500;
  margin: 12px 0;
}

.about1 ul li {
  list-style-type: none;
  display: inline;
  margin-right: 12px;
}

.about2 {
  display: flex;
  flex-direction: column;
  padding: 0 15px 20px 15px;
  margin-left: 10px;
}

.about2 ul li {
  list-style-type: none;
  font-size: 20px;
  font-weight: 500;
  margin: 20px 20px 20px 0;
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.about12a {
  width: 12%;
  margin-right: 10px;
}

.gray-box {
  width: 97%;
  height: auto;
  background-color: #f7f7f9;
  display: flex;
  align-items: center;
  margin: 10px auto;
  padding: 10px;
  font-size: 1.5rem;
}

.contact {
  background: #6070ff url(./images/contact_mobile_svg.svg) no-repeat;
  background-size: contain;
  border-top-left-radius: 80px;
  display: flex;
  flex-direction: column;
  padding-top: 170px;
  height: auto;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.bg {
  width: 100%;
  height: auto;
  background-color: #fff;
}

.contact-title {
  color: #fff;
  font-size: 40px;
  margin-bottom: 20px;
}

.contact-text {
  font-size: 20px;
  color: #ebebff;
  width: 85%;
  text-align: center;
  word-spacing: 3px;
}

form {
  display: flex;
  flex-direction: column;
  width: 90%;
}

input,
textarea,
input:focus,
textarea:focus {
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
  padding: 10px;
  margin: 10px 0 10px 0;
  border-radius: 8px;
  border: none;
  outline: none;
  color: #b3bac5;
}

input:focus,
textarea:focus {
  color: #172b4d;
  box-shadow: 0 0 5px 3px;
}

#base {
  border-radius: 7px;
  border: 2px solid #0d151e;
  width: 50%;
  margin: 20px auto 20px auto;
}

.card-big {
  display: none;
}

/* =========================================Media Query for 768 pixels and above============================================================ */
@media only screen and (min-width: 768px) {
  .burger,
  .intro1 {
    display: none;
  }

  .links {
    display: inline;
  }

  .links a {
    text-decoration: none;
    color: #344563;
    font-size: 15px;
    margin-right: 30px;
  }

  .other-content {
    padding: 150px;
    background-image: url(./images/desktop-shapes.png);
    background-size: contain;
  }

  .intro2 {
    display: block;
  }

  .wrapper1 header {
    padding: 0 70px;
  }

  .wrapper2 {
    grid-row-gap: 2rem;
  }

  .card {
    display: none;
  }

  .card-big {
    background-color: #fff;
    width: 80%;
    margin: 20px auto;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    height: auto;
    align-items: flex-start;
    cursor: pointer;
  }

  .lower {
    margin-left: 25px;
    padding-right: 15px;
  }

  .lower h3 {
    margin-bottom: 0;
    font-size: 25px;
  }

  .canopy { margin: 1px 0 10px 0; }

  .span1 { font-size: 12px; }

  .span2 { font-size: 5px; }

  .card-text {
    font-size: 10px;
    word-spacing: 0;
    margin-bottom: 0;
    line-height: 14px;
  }

  .btns-33 ul { margin: 5px 0 5px 0; }

  .see {
    width: 29%;
    padding: 4px;
    font-size: 12px;
    border-radius: 5px;
  }

  .btn3 {
    font-size: 8px;
    border-radius: 5px;
  }

  .img-top {
    width: 50%;
    transition: transform 0.5s ease-in-out;
  }

  .img-top:hover { transform: translateY(-7px); }

  .about {
    flex-direction: row;
    padding: 60px;
  }

  .about1 {
    flex-basis: 50%;
    padding-top: 23px;
  }

  .about1 p { font-size: 12px; }

  .about1 h1 {
    font-size: 30px;
    line-height: 35px;
    margin-bottom: 10px;
  }

  .about1 h3 { font-size: 13px; }

  .about2 {
    flex-basis: 50%;
  }

  .about12 {
    display: flex;
    width: 80%;
  }

  .gray-box {
    width: 30%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 7px 0 0;
    font-size: 14px;
    padding: 3px 5px 5px 3px;
  }

  .about12a {
    width: 50%;
    margin-bottom: 7px;
  }

  .contact {
    background-image: url(./images/contact_desktop_svg.svg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  form { width: 40%; }

  input,
  textarea { border-radius: 0; }

  .contact-title { font-size: 30px; }

  .contact-text {
    width: 45%;
    font-size: 14px;
    margin-bottom: 10px;
  }

  #base { display: none; }

  .expad {
    margin: 0 auto 60px auto;
    width: 30%;
    padding: 8px 3px 8px 3px;
    font-size: 13px;
  }
}


@media only screen and (min-width: 900px){
  .wrapper2 {
    grid-template-columns: repeat(2, 40%);
    grid-template-rows: repeat(2, auto);
    grid-row-gap: 0.5rem;
    grid-column-gap: 4rem;
    justify-content: center;
    align-items: center;
  }

  .card-big {
    flex-direction: column;
    width: 90%;
    height: auto;
    margin: 2rem 1rem 0 0;
    padding: 10px;
  }

  .img-top {
    width: 90%;
    margin: 0 auto;
  }

  .links a {
    font-size: 25px;
  }
}